.main-heading {
  font-family: $font-dancingScript;
  font-size: 100px;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 30px;
}

.sub-heading {
  font-family: $font-josefinSans;
  font-size: 50px;
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: 80px;
}